#img_index {
  height: 350px;
  weight: 350px;
}

body {
  background-color: #c2eaff;
}

#title_index {
  text-align:center;
}

.box {
  margin:0 auto;
  width:500px;
  padding: 50px;
  background:#f9f9f9;
}
